

.header {
  position: relative;
  background-color: #000;
  color: white;
  height: 50px;
  z-index: 1;
}



.note1, .note2, .note3 {
  width: 200px;
  height: 200px;
  background-color: #fdfd96;
  padding: 10px;
  font-size: 14px;
}

.note1 {
  transform: rotate(8deg);
}

.note2 {
 margin-left: 200px;
 margin-top: 20px;
  transform: rotate(-6deg);
}

.note3 {
  transform: rotate(4deg);
   margin-top: 20px;
}
button{
bottom: 10px;
right: 0;
position: fixed;
color:white;
background-color: red;
margin-right: 20px;
}